# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# Built source for packages
packages/*/lib

# Site files
/*
!LICENSE
!package.json
!package-lock.json
!README.md
!sites
!src
/src/*
!src/pages
/src/pages/*
!src/pages/litlog
!src/templates